@import './theme';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spinner-wrapper {
  height: calc(100vh - 20px);

  mat-spinner {
    margin: 0 auto;
    top: 50%;
  }
}
